[submodule "E80-1800-pcb-universal/Connectors_JST.pretty"]
	path = E80-1800-pcb-universal/Connectors_JST.pretty
	url = https://github.com/KiCad/Connectors_JST.pretty
[submodule "E80-1800-pcb-universal/MX_Alps_Hybrid"]
	path = E80-1800-pcb-universal/MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid
[submodule "E80-1800-pcb-universal/kicad-keyboard-parts.pretty"]
	path = E80-1800-pcb-universal/kicad-keyboard-parts.pretty
	url = https://github.com/ebastler/kicad-keyboard-parts.pretty
[submodule "E80-1800-pcb-universal/logo-branding.pretty"]
	path = E80-1800-pcb-universal/logo-branding.pretty
	url = https://github.com/ebastler/logo-branding.pretty.git
